<!DOCTYPE html>
<html lang="en">
<head>
	<title>Blog</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="VoyagePro Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
	<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="styles/blog_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/blog_responsive.css">
</head>

<body>

	<div class="super_container">

		<!-- Home -->
		<div class="home">
			<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/blog_background.jpg"></div>
			<div class="home_content">
				<div class="home_title">the blog</div>
			</div>
		</div>

		<!-- Blog -->
		<div class="blog">
			<div class="container">
				<div class="row">

					<!-- Blog Content - Now takes full width available or as defined by Bootstrap col -->
					<div class="col-lg-12">
						@* Changed from col-lg-8 to col-lg-12 to potentially use more width *@

						<div class="blog_post_container">

							<!-- Blog Post -->
							<div class="blog_post">
								<div class="blog_post_image">
									<img src="images/blog_1.jpg" alt="">
									<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
										<div class="blog_post_day">01</div>
										<div class="blog_post_month">Dec, 2017</div>
									</div>
								</div>
								<div class="blog_post_meta">
									<ul>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">by Lore Papp</a></li>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">Travel blog</a></li>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">3 Comments</a></li>
									</ul>
								</div>
								<div class="blog_post_title"><a asp-controller="Offers" asp-action="Index">Try these new dream destinations</a></div>
								<div class="blog_post_text">
									<p>Traveling has always been a passion of mine. I’ve visited so many incredible places, and each one has left me with unforgettable memories. Sharing my experiences through my blog has allowed me to connect with so many other travelers and inspire others to embark on their own adventures.</p>
								</div>
								@* "read more" link removed *@
							</div>

							<!-- Blog Post -->
							<div class="blog_post">
								<div class="blog_post_image">
									<img src="images/blog_2.jpg" alt="">
									<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
										<div class="blog_post_day">02</div>
										<div class="blog_post_month">Aug, 2019</div>
									</div>
								</div>
								<div class="blog_post_meta">
									<ul>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">by The Johnson's family</a></li>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">Family blog</a></li>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">14 Comments</a></li>
									</ul>
								</div>
								<div class="blog_post_title"><a asp-controller="Offers" asp-action="Index">Discover These New Dream Destinations</a></div>
								<div class="blog_post_text">
									<p>Every destination we visit teaches us something new, not just about the place, but about ourselves. Through our travel blog, We aim to share the beauty of the world from a personal perspective, offering travel tips and stories that inspire others to step outside their comfort zone and explore the unknown.</p>
								</div>
								@* "read more" link removed *@
							</div>

							<!-- Blog Post -->
							<div class="blog_post">
								<div class="blog_post_image">
									<img src="images/blog_3.jpg" alt="">
									<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
										<div class="blog_post_day">03</div>
										<div class="blog_post_month">June, 2018</div>
									</div>
								</div>
								<div class="blog_post_meta">
									<ul>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">by Natasha Brown</a></li>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">Travel Tips</a></li>
										<li class="blog_post_meta_item"><a asp-controller="Offers" asp-action="Index">5 Comments</a></li>
									</ul>
								</div>
								<div class="blog_post_title"><a asp-controller="Offers" asp-action="Index">Explore Hidden Paradise Getaways</a></div>
								<div class="blog_post_text">
									<p>As a frequent traveler, I love discovering new cultures and immersing myself in local traditions. Through my blog, I’m able to document these journeys, giving others a glimpse into the world I’ve seen and sharing tips on how to make the most of every trip.</p>
								</div>
								@* "read more" link removed *@
							</div>

						</div>

						@* Blog Navigation (Pagination) REMOVED
						<div class="blog_navigation">
							...
						</div>
						*@
					</div>

					@* Blog Sidebar REMOVED
					<div class="col-lg-4 sidebar_col">
						...
					</div>
					*@
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="styles/bootstrap4/popper.js"></script>
	<script src="styles/bootstrap4/bootstrap.min.js"></script>
	<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
	<script src="plugins/parallax-js-master/parallax.min.js"></script>
	<script src="js/blog_custom.js"></script>

</body>
</html>